        <!-- footer content -->
        <footer>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <script src="/components/dashboard/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/components/dashboard/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/components/dashboard/vendors/fastclick/lib/fastclick.js"></script>
    <script src="/components/dashboard/vendors/nprogress/nprogress.js"></script>
    <script src="/components/dashboard/vendors/iCheck/icheck.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/components/dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/components/dashboard/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/components/dashboard/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/components/dashboard/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/components/dashboard/build/js/custom.min.js"></script>
    <script src="/components/dashboard/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/components/dashboard/vendors/moment/min/moment.min.js"></script>
    <script src="/components/dashboard/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/components/dashboard/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/components/dashboard/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/components/dashboard/vendors/google-code-prettify/src/prettify.js"></script>
    <script src="/components/dashboard/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script src="/components/dashboard/vendors/switchery/dist/switchery.min.js"></script>
    <script src="/components/dashboard/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="/components/dashboard/vendors/parsleyjs/dist/parsley.min.js"></script>
    <script src="/components/dashboard/vendors/autosize/dist/autosize.min.js"></script>
    <script src="/components/dashboard/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="/components/dashboard/vendors/starrr/dist/starrr.js"></script>

  </body>
</html>