<%- include("./menu", {title: "Ecommerce" }) %>
<a href="/admin/dashboard/products" class="btn btn-primary">Productos</a>
<a href="/admin/dashboard/pedidos" class="btn btn-primary">Pedidos</a>
<a href="/admin/dashboard/stock" class="btn btn-primary">Stock</a>
<a href="/admin/dashboard/categorias" class="btn btn-primary">Categorías</a>
<%- include("./footer") %>